.todoFilterParams {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  height: 50px;
}

.todoFilterParamBtn {
  background-color: inherit;
  margin: 0 10px;
  border: none;
  color: lightgrey;
}

.todoFilterParamBtn.active {
  color: white;
}
