body {
  background: rgb(160,154,250);
  background: linear-gradient(219deg, rgba(160,154,250,1) 0%, rgba(177,177,255,1) 35%);
  
}

.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(91,83,222);
background: linear-gradient(219deg, rgba(91,83,222,1) 0%, rgba(100,100,233,1) 35%, rgba(143,163,255,1) 100%);}
