input,
button,
textarea,
select {
  font: inherit;
}

.todo__add {
  display: grid;
  grid-template-columns: 6fr 2fr;
  padding: 30px;
  gap: 20px;
  height: 40px;
}

.todo__input {
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: white;
}

input:focus-visible {
  outline: none;
}

.todo__button {
  border-radius: 10px;
  border: none;
  background-color: #607d8b;
  color: white;
  transition: all 0.5s ease;
}

.todo__button.media {
  display: none;
}

.todo__button:hover {
  opacity: 0.8;
}

@media screen and (max-device-width: 500px), screen and (max-width: 500px) {
  .todo__add {
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .todo__input {
    display: block;
    width: calc(100% - 50px);
  }
  .todo__button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: none;
  }

  .todo__button.media {
    display: block;
    background-color: white;
    color: black;
    margin-right: 10px;
  }

  .todo__button.media svg {
    width: 30px;
    height: 30px;
  }
}
